.account-title {
  padding: 10px 15px 10px;
  background: #efeff4;
}

.account-item {
    &:not(last-child) {
        border-bottom: 1px solid #ccc;
    }

    .account-credit-indicator {
        color: #aaa;
        font-size: 12px;
    }
}
